aiofiles
anyio
apscheduler
asyncio
beautifulsoup4
cachetools
captcha
certifi
charset-normalizer
dnspython
google
gpytranslate
lyricsgenius
lxml
pillow
prettyconf
pyaes
pymongo
pyrogram
pysocks
python-dateutil
pytube
pytz
pyyaml
qrcode
regex
requests
rfc3986
search-engine-parser
six
sniffio
soupsieve
tgcrypto
tswift
typing-extensions
ujson
urllib3
uvloop
wikipedia
youtube-search-python
yt-dlp
